
<!DOCTYPE html>
<html>
  <head>
    <title>登陆</title>
    <!-- Bootstrap -->
    <load href="/Resources/Styles/bootstrap.min.css" media="screen"/>
    <load href="/Resources/Styles/bootstrap-responsive.min.css" media="screen"/>
    <load href="/Resources/Styles/styles.css" media="screen"/> 
    <load href="/Resources/Scripts/jquery-1.9.1.min.js" />
    <load href="/Resources/Scripts/bootstrap.min.js" />
    <load href="/Resources/Scripts/modernizr-2.6.2-respond-1.1.0.min.js" />
     <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body id="login">
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">用户登录</h2>
        <input type="text" class="input-block-level" placeholder="登录名">
        <input type="password" class="input-block-level" placeholder="密码">
        <label class="checkbox"><input type="checkbox" value="remember-me">记住密码</label>
        <button class="btn btn-large btn-primary" type="submit">登陆</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>